::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #5d88ff39;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
}

.sidebar-link {
    text-decoration: none;
}
body .select2-container--classic .select2-selection--single, body .select2-container--default .select2-selection--single, body .select2-container--default .select2-selection--single .select2-selection__rendered, body .select2-container--default .select2-selection--single .select2-selection__arrow, body .select2-container--default .select2-selection--multiple, body .select2-container--classic .select2-selection--single .select2-selection__arrow, body .select2-container--classic .select2-selection--single .select2-selection__rendered {
    border-color: var(--bs-border-color);
    color: var(--bs-body-color);
    height: 40px;
    line-height: 40px;
}
.table-responsive .dataTables_wrapper .dataTables_length select {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.625rem;
    font-size: 0.765625rem;
    border-radius: 5px;
    border-color: var(--bs-border-color);
}
.table-responsive .dataTables_wrapper .dataTables_filter input {
    padding: 0.25rem 0.5rem;
    font-size: 0.765625rem;
    border-radius: 5px;
    border: 1px solid var(--bs-border-color);
}
.datepicker {
    padding: 4px;
}
.datepicker .datepicker-switch {
    min-height: 40px !important;
}
.datepicker .day {
    width: 40px !important;
    height: 40px !important;
}
.select2.select2-container {
    width: 100% !important;
}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button {
    cursor: pointer;
    padding: 6px 12px;
    border: 1px solid #5D87FF;
}
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff;
    background-color: #5D87FF;
    border-color: #5D87FF;
}
table.dataTable.table-striped>tbody>tr:nth-of-type(2n+1)>* {
    box-shadow: inset 0 0 0 9999px #f0f4ff;
}


form.row {
    position: relative;
    z-index: 10;
}
.glassContainer {
    z-index: 0;
}
.glassLogo {
    width: 100%;
    /* max-width: 500px; */
    object-fit: cover;
    opacity: 0.05;
}
.form-control, .form-control:focus {
    background: white;
}
.img-list {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* Blog */
.blog {
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
.fs-7 {
    font-size: 1.5rem !important;
}
.blog::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(33, 33, 33, 0.6);
}
.hover-img:hover {
    transform: translateY(-10px);
}
.hover-img {
    transition: 0.2s ease-in;
}
.only-read {
    border: 0 !important;
}
.only-read .ql-editor {
    padding: 0 !important;
}
.invalid-feedback {
    display: block !important;
}
.card-glass-images {
    min-height: 120px;
}
.card-glass-images a {
    position: relative;
    z-index: 1;
}
.card-glass-images .glass {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: rgba(33, 33, 33, 0.6);
}
.card-glass-images img {
    object-fit: cover;
}
.card-glass-images .btnArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px;
    color: #5D87FF;
    opacity: 1;
}

.bg-light-subtle {
    background-color: #f6f9fc !important;
}

.box-img img {
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
}

.box-img .rounded-pill {
    z-index: 1;
}

.img-detail {
    max-height: 300px;
}

.app-header {
    z-index: 999 !important;
}
input[readonly].form-control {
    background-color: #ddebff42;
}
#loading-message {
    display: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
}

#loading-message span {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}
footer .social-links .social-icons {
    font-size: 18px;
}